<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  
  <!-- DAbes - ADDED <system.serviceModel> - START - - >
  <system.serviceModel>
    <client>
      <endpoint address="http://localhost:57531/Service1.svc" name="Service1"
                binding="basicHttpBinding"
                contract="WCFWebServiceConsumer1.Service1.IService1"
                bindingConfiguration="BasicHttpBinding"
                ></endpoint> < ! - - behaviorConfiguration="webby" - - >
    </client>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding"></binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="webby">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
  < ! - - DAbes - ADDED <system.serviceModel> - END   -->

</configuration>